body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f3e3e;
}

nav {
    background-color: #2e2e2e;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #313030;
    color: rgb(223, 220, 220);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
